<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>我根本天才</title>
    </head>
    <body>
        <h1>確實</h1>
        <a href="https://github.com/CLChen222">My github</a>
        <p>
        <iframe width="941" height="480" src="https://www.youtube.com/embed/YGzQTjvrC2o" title="A Normal Day In CHINA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </body>
</html>
